body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  display: flex;

  &_left_div {
    display: flex;
    flex-direction: column;
  }

  &_left_top_div, &_left_bottom_div, &_right_div {
    background-color: #F7F8FA;
    border-color: #E2E8F0;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
  }

  &_left_top_div, &_left_bottom_div {
    margin-right: 20px;
    width: 300px;
  }

  &_left_top_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95px;

    &_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        margin: 0 0 10px 0;
        font-size: 18px;
        color: #b2b2b2;
        text-align: center;
      }
    }
  }

  &_left_bottom_div {
    margin-top: 15px;
    height: 490px;
  }

  &_right_div {
    width: 600px;
    height: 600px;

    &_content {
      margin: 15px 30px;

      .graph-div {
        width: 100%;
        height: 500px;
        margin-top: 40px;

        h1 {
          color: #b2b2b2;
          margin: 0 0 20px 0;
        }
        
        .graph {
          width: 100%;
          height: 420px;
          background-color: #ffffff;
        }
      }
    }

    .katex { font-size: 28px; }
  }
}
